<div class="panel panel-primary">
	<div class="panel-heading">
			<div class="panel-title" ng-controller="util">
				<b>{{cfg.kc}}</b>
			</div>
	</div>
	<div class="panel-body">
		<table class="table table-hover">
		      <tbody>
		        <tr>
		          <td><a ui-sref="index.study1">练习1</a></td>
		          <td><a ui-sref="index.study2">购物车</a></td>
		          <td><a ui-sref="index.study3">自定义服务、共享数据</a></td>
		          <td><a ui-sref="index.study4">过滤器</a></td>
		          <td>练习5</td>
		        </tr>
		        <tr>
		          <td>练习6</td>
		          <td>练习7</td>
		          <td>练习8</td>
		          <td>练习9</td>
		          <td>练习10</td>
		        </tr>
		      </tbody>
		</table>
		<div class="col-md-2"><a href="#index"><<返回</a></div>
		<div class="col-md-10"><a href=""><p ctags></p></a></div>
	</div>
</div>

