.loginMain{ background: #337ab7; margin: 50px auto; padding:30px 20px; border: #337ab7 1px solid; border-radius:15px;}
.loginMain label{ text-align: center; color: #fff;}

input{ margin: 5px 10px; border: #0B97C4 1px solid; background: none;}
h3{ font-size: 16px; font-weight: bold;}
cite{ font-size: 16px; font-weight: bold; display:block; font-style: normal; line-height: 30px;}
.navbar h3{ font-size: 16px; font-weight: bold; margin: 0; padding: 0; color: #0B97C4;}
.red{ color: red;}
.green{ color: green;}
.gray{ color: gray;}
.yellow{ color: yellow;}
.gold{ color: goldenrod;}

details{ border:#C7DDEF 1px solid; margin: 5px auto; padding:10px 20px; font-size: 13px; color: #28A4C9; border-radius: 10px; line-height: 25px; background:#D9EDF7; } /*标记定义一个元素的详细内容*/

.panel-body pre{ display: block; background:#FCF8E3; border-radius: 10px; line-height: 25px;}

.panel-body small{ font-size: 16px; font-weight: bold; color:#EC971F;}






